body {
    padding-top: 0px;
    padding-bottom: 50px;
 
    overflow: hidden;
    background-image: url('img/Untitleddesign.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed; 
}

#taskContainer {
    padding: 70px 20px;
    height: calc(100vh - 70px);
    overflow-y: auto;
}

.container{
    width: 100%;
}

.task-card {
    padding: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 200px;
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
}

.task-card:hover {
    transform: translateY(-10px);
}

#apiInputContainer {
    margin: 20px;
}

.course-column {
    margin-bottom: 20px;
}
