<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnTrack Tasks</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="/css/ontrack.css" rel="stylesheet">
</head>
<body class="container">

    <nav>
        <div class="nav-wrapper " style="background-color: #26a69a ;">
            <a href="#" class="brand-logo center">OnTrack Tasks</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li>
                  <!-- <a href="/task" class="btn waves-effect waves-light blue lighten-1">Task Board</a> -->
                  <a href="#" class="btn waves-effect waves-light  lighten-1" id="taskpageButton">Task Board</a>

                </li>
              </ul>
        </div>
       
    </nav>

    <div id="apiInputContainer" class="center">
        <input type="text" id="apiInput" placeholder="Enter OnTrack API URL" class="input-field" />
        <button id="fetchButton" class="btn " style="background-color: #26a69a ;">Fetch Tasks</button>
    </div>

    
    <!-- <div class="row">
        <button class="btn waves-effect waves-light" id="filter-1d">1 Day</button>
        <button class="btn waves-effect waves-light" id="filter-2d">2 Days</button>
        <button class="btn waves-effect waves-light" id="filter-3d">3 Days</button>
        <button class="btn waves-effect waves-light" id="filter-5d">5 Days</button>
        <button class="btn waves-effect waves-light" id="filter-7d">7 Days</button>
        <button class="btn waves-effect waves-light" id="filter-manual">Manual</button>
    </div> -->
 
    <div id="taskContainer" class="container">
        <div id="taskColumns" class="row"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="/js/ontrack.js"></script>
</body>
</html>
